<app-default-header titol="Diarrees" icon="/assets/icon/shit.svg"></app-default-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-card-content>
          <canvas #chart></canvas>
        </ion-card-content>
      </ion-card>
      
    <ion-list>
        <ion-card mode="ios" *ngFor="let dada of dades;">
            <ion-card-content>
                <ion-row>
                    <ion-col>Tens diarrees?</ion-col>
                    <ion-col>{{ mapBoolean(dada.afirmatiu) }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Vegades</ion-col>
                    <ion-col>{{ dada.vegades }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Escala bristol</ion-col>
                    <ion-col>{{ dada.escalaBristol }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Color Femta</ion-col>
                    <ion-col>{{ mapColor(dada.color) }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Data</ion-col>
                    <ion-col>{{ dada.data }}</ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
