<app-default-header titol="Fatiga" icon="/assets/icon/bed.svg"></app-default-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <canvas #chart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-card mode="ios" *ngFor="let item of dades">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>Puntuació</ion-col>
            <ion-col>{{ item.puntuacio }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Data</ion-col>
            <ion-col>{{ item.data }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>