<app-default-header titol="Diarres" icon="/assets/icon/shiti.svg" defaultHref="/registre-simptomes"></app-default-header>

<ion-content padding>
  <app-si-no-selector pregunta="Tens diarrees?"></app-si-no-selector>

  <app-opcions-selector titol="Quantes vegades has anat de diarrea en les últimes 24h?" [items]="vegades"></app-opcions-selector>

  <app-escala-bristol-selector></app-escala-bristol-selector>
  
  <app-color-femta-selector></app-color-femta-selector>
  <app-save-button></app-save-button>
</ion-content>
