<app-default-header titol="Diarres" icon="/assets/icon/shit.svg" defaultHref="/registre-simptomes"></app-default-header>

<ion-content padding>
  <app-si-no-selector pregunta="Tens diarrees?" (resposta)="resposta($event)"></app-si-no-selector>

  <!-- diarrees en les ultimes 24h-->
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Vegades</ion-label>
        <ion-input type="number" placeholder="1"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <app-escala-bristol-selector></app-escala-bristol-selector>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>titol</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="seleccionarColorFemta($event)">Seleccionar</ion-button>
    </ion-card-content>
  </ion-card>

  <app-save-button (guardar)="guardar()"></app-save-button>
</ion-content>
