<app-default-header titol="Registre"></app-default-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-content class="center-element">
      <form (ngSubmit)="registrarse()" novalidate>
        <ion-item>
          <ion-label position="stacked">Nom</ion-label>
          <ion-input requried [ngModelOptions]="{standalone: true}" [(ngModel)]="usuariForm.nom" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Primer Cognom</ion-label>
          <ion-input required [ngModelOptions]="{standalone: true}" [(ngModel)]="usuariForm.primerCognom" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Segon Cognom</ion-label>
          <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="usuariForm.segonCognom" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Correu Electrònic</ion-label>
          <ion-input [ngModelOptions]="{standalone: true}" required [(ngModel)]="usuariForm.correuElectronic" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Data naixement</ion-label>
          <ion-datetime [ngModelOptions]="{standalone: true}" required [(ngModel)]="usuariForm.dataNaixement" 
                      placeholder="Any/mes/dia" display-format="YYYY-MM-DD"></ion-datetime>
        </ion-item>
        
        <ion-item (click)="seleccionarGenere($event)">
          <ion-label position="stacked">Gènere</ion-label>
          <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="displayGenere" placeholder="Toca per seleccionar"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [ngModelOptions]="{standalone: true}" required type="password" [(ngModel)]="usuariForm.password"></ion-input>
        </ion-item>
  
        <ion-item class="bottom-20">
          <ion-label position="stacked">Confirmació password</ion-label>
          <ion-input [ngModelOptions]="{standalone: true}" required [(ngModel)]="usuariForm.confirmacioPassword" type="password"></ion-input>
        </ion-item>
        
        <ion-button size="medium" color="primary" class="top-20" type="submit">REGISTRAR-SE</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
