<app-default-header icon="/assets/icon/vomiting.svg" titol="Nausees i Vòmits" defaultHref="/registre-simptomes"></app-default-header>

<ion-content>
  <app-si-no-selector pregunta="Pateixes nàusees o vòmits"></app-si-no-selector>
  <app-opcions-selector titol="Quantes vegades al dia sents nàusees?" [items]="nausees" singleOption="true" (itemSeleccionat)="nauseesSeleccionat($event)"></app-opcions-selector>
  <app-si-no-selector pregunta="Has vomitat avui?"></app-si-no-selector>
  <app-opcions-selector titol="En cas afirmatiu, descriu el vomit" [items]="descripcioVomit" (itemSeleccionat)="descripcioVomitSeleccionat($event)"></app-opcions-selector>
  <app-save-button (guardar)="guardar()"></app-save-button>
</ion-content>
