<app-default-header icon="/assets/icon/electrocardiogram.svg" titol="Signes vitals"></app-default-header>


<ion-content padding>
  <div *ngFor="let signeVital of signesVitals">
    <app-signe-vital-item [item]="signeVital" (guardarSigneVital)="guardarSigneVital($event)"></app-signe-vital-item>
  </div>

  <!-- cas especial per la tensio arterial -->
  <ion-card mode="ios">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img class="vital-img" [src]="tensioArterial.img">
          </ion-col>
          <ion-col size="8">
            <ion-grid>
              <ion-row>
                <ion-item>
                  <ion-label class="ion-text-wrap" position="floating">{{ tensioArterial.nom }}</ion-label>
                  <ion-grid>
                    <ion-row>
                      <ion-col> <ion-input class="ion-text-wrap right-8" [(ngModel)]="tensioArterial.valor" type="number" placeholder="Diàstole" clearOnEdit></ion-input>  </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col> <ion-input class="ion-text-wrap" [(ngModel)]="tensioArterial.valorSecundari" type="number" placeholder="Sístole" clearOnEdit></ion-input> </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="center-element top-20">
                  <ion-label>{{ tensioArterial.descripcio }}</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>            
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="center-element">
        <ion-button (click)="guardarSigneVital($event, true)">Guardar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
