<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Medicacio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input clearOnEdit="true" [(ngModel)]="nom" placeholder="Exemple medicació" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dosi</ion-label>
        <ion-input clearOnEdit="true" [(ngModel)]="dosi" placeholder="3mg a les 12:00" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Forma</ion-label>
        <ion-input placeholder="Pastilla" type="text" [(ngModel)]="formaText" (ionFocus)="formaMedicacioSelector()"></ion-input>
      </ion-item>

      <div class="center-element top-20">
        <ion-button color="success" (click)="guardarMedicacio ()">Guardar</ion-button>
        <ion-button color="primary" (click)="cancelarRegistreMedicacio ()">Cancelar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
