<app-default-header titol="Notes" icon="/assets/icon/pencil.svg"></app-default-header>

<ion-content>
  <app-fav-button (favButtonPressed)="alertGuardarNota($event)"></app-fav-button>

  <ion-list *ngFor="let nota of notes; let i = index;">
    <ion-card mode="ios">
      <ion-card-header class="right-align">
        <ion-button (click)="alertEliminarNota(i)" size="small" color="transparent">
          <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-card-header>
      <ion-card-content>
        {{ nota.descripcio }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
