<app-default-header icon="/assets/icon/info.svg" titol="Portal Informatiu"></app-default-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header class="center-element">
      <img src="/assets/image/ayuda.png">
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let info of informacio" detail>
          <ion-label class="ion-text-wrap">{{ info }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
