<ion-content>
  <ion-list>
    <ion-item *ngFor="let medicacio of medicacions; let i = index;">
      <ion-card mode="ios">
        <ion-card-header>
          {{ medicacio.nom }}
        </ion-card-header>
        <ion-card-content>
          <label>Dosi: {{medicacio.dosi}} </label>
          <label>Tipus: {{ medicacio.tipus }}</label>
          <label>Horari: {{ medicacio.horari }} </label>
        </ion-card-content>
      </ion-card>

    </ion-item>
  </ion-list>  

  <app-fav-button (favButtonPressed)="afegirMedicacio( )"></app-fav-button>
</ion-content>
