<ion-content>
  <ion-list>
    <ion-item *ngFor="let medicacio of medicacions; let i = index;">
      <ion-card mode="ios" class="width-100">
        <ion-card-header>

        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-grid>
              <ion-row><ion-label class="bold bottom-10" color="primary" type="fixed">Nom </ion-label></ion-row>
              <ion-row><ion-label>{{ medicacio.nom }}</ion-label></ion-row>
            </ion-grid>  
          </ion-item>
          
          <ion-item class="top-20">
            <ion-grid>
              <ion-row><ion-label class="bold bottom-10" color="primary" type="fixed">Forma </ion-label></ion-row>
              <ion-row><ion-label>{{ medicacio.forma }}</ion-label></ion-row>
            </ion-grid>
          </ion-item>
          
          <ion-item class="top-20">
            <ion-grid>
              <ion-row><ion-label class="bold bottom-10" color="primary" type="fixed">Dosi </ion-label></ion-row>
              <ion-row><ion-label>{{ medicacio.dosi }}</ion-label></ion-row>
            </ion-grid>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-item>
  </ion-list>  

  <app-fav-button (favButtonPressed)="afegirMedicacio( )"></app-fav-button>
</ion-content>
