<ion-card mode="ios">
  <ion-card-header class="ion-card-header">
    <ion-card-title class="ion-card-title-form">Quin número en l'escala de bristol era la teva última femta</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button fill="outline" class="right-20" (click)="seleccionarFemtaEscalaBristol( $event )">
      <ion-label>seleccionar</ion-label>
    </ion-button>
    <ion-label slot="end">Seleccionat: {{ ultimaFemtaEscalaBristol }}</ion-label>
  </ion-card-content>
</ion-card>
