<app-default-header titol="Manca d'apetit" icon="/assets/icon/food.svg" defaultHref="/registre-simptomes"></app-default-header>
 
<ion-content padding>
  
  <app-si-no-selector pregunta="Tens manca d'apetit?"></app-si-no-selector>
  

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title class="ion-card-title-form">M'he acabat tot l'esmorzar?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button>:(</ion-button>
          </ion-col>
          <ion-col>
            <ion-button>: |</ion-button>
          </ion-col>
          <ion-col>
            <ion-button>: )</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title class="ion-card-title-form">M'he acabat tot el dinar?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button>: (</ion-button>
          </ion-col>
          <ion-col>
            <ion-button>: |</ion-button>
          </ion-col>
          <ion-col>
            <ion-button>: )</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title class="ion-card-title-form">M'he acabat tot el sopar?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button>: )</ion-button>            
          </ion-col>
          <ion-col>
            <ion-button>: |</ion-button>
          </ion-col>
          <ion-col>
            <ion-button>: (</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <app-save-button></app-save-button>

</ion-content>
