<ion-content>
  <ion-card mode="ios">
    <ion-card-header class="center-element">
      <ion-avatar class="big-avatar" color="primary">
        <img src="/assets/icon/social-media.svg">
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
        <ion-label position="fixed">Correu</ion-label>
        <ion-input [(ngModel)]="usuari" placeholder="exemple@exemple.com" type="text"></ion-input>
        <ion-label position="fixed">Contraseya</ion-label>
        <ion-input [(ngModel)]="password" placeholder="contrasenya" type="password"></ion-input>
        <div class="center-element">
          <ion-button (click)="login( $event )" color="primary" class="top-20">ENTRAR</ion-button>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-default-footer></app-default-footer>