<app-default-header titol="Reestrenyiment" defaultHref="/registre-simptomes" icon="/assets/icon/toilet.svg"></app-default-header>

<ion-content padding>
  
  <app-si-no-selector pregunta="Tens reestrenyiment?"></app-si-no-selector>

  <app-opcions-selector [items]="ultimCopVentre" titol="Quan va ser l'últim cop que vas anar de ventre?"></app-opcions-selector>

  
  <app-color-femta-selector></app-color-femta-selector>
  <app-escala-bristol-selector></app-escala-bristol-selector>

  <app-save-button></app-save-button>

</ion-content>
