<app-default-header titol="Diarres" icon="/assets/icon/shit.svg" defaultHref="/registre-simptomes"></app-default-header>

<ion-content padding>
  <app-si-no-selector pregunta="Tens diarrees?" (resposta)="resposta($event)"></app-si-no-selector>

  <ion-card mode="ios">
    <ion-card-header class="ion-card-header">
      <ion-card-title class="ion-card-title">Quantes vegades has anat de diarrea en les últimes 24 hores?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="fixed">Vegades</ion-label>
        <ion-input [(ngModel)]="vegades" type="number" placeholder="Toca aquí"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <ion-card mode="ios">
    <ion-card-header class="ion-card-header">
      <ion-card-title class="ion-card-title">Quin número en l'escala de Bristol era la teva última femta?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="center-element">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="escalaBristol != undefined">{{ escalaBristol }}</ion-col>
          <ion-col *ngIf="escalaBristol == undefined">Cap valor seleccionat</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="seleccionarEscalaBristol($event)">SELECCIONAR</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <app-color-selector (colorSeleccionat)="colorSeleccionat($event)"></app-color-selector>

  <app-save-button (guardar)="guardar()"></app-save-button>
</ion-content>
