<app-default-header titol="Restrenyiment" defaultHref="/registre-simptomes" icon="/assets/icon/toilet.svg"></app-default-header>

<ion-content padding>
  
  <app-si-no-selector pregunta="Tens restrenyiment?" (resposta)="resposta($event)"></app-si-no-selector>

  <app-opcions-selector [unique]="true" [items]="ultimCopVentre" titol="Quan va ser l'últim cop que vas anar de ventre?"></app-opcions-selector>

  <ion-card mode="ios">
    <ion-card-header class="ion-card-header">
      <ion-card-title class="ion-card-title">Quin número en l'escala de Bristol era la teva última femta?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="center-element">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="bristol != undefined">{{ bristol }}</ion-col>
          <ion-col *ngIf="bristol == undefined">Cap valor seleccionat</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="seleccionarEscalaBristol($event)">SELECCIONAR</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <app-color-selector (colorSeleccionat)="colorSeleccionat($event)"></app-color-selector>

  <app-save-button (guardar)="guardar()"></app-save-button>

</ion-content>
