<app-default-header titol="Comunitat" icon="/assets/icon/smartphone.svg" defaultHref="home"></app-default-header>

<ion-content>
  <ion-card mode="ios" href="/esdeveniments">
    <ion-card-header class="center-element">
      <img class="team-image" src="/assets/image/team.png">
    </ion-card-header>
    <ion-card-content class="center-element">
      <ion-label>Esdeveniments</ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-card mode="ios" (click)="noDisponibleToast()">
    <ion-card-header>
      <img src="/assets/image/forum.jpg">
    </ion-card-header>
    <ion-card-content class="center-element">
      <ion-label>Fòrum</ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-card mode="ios" (click)="noDisponibleToast()">
    <ion-card-header>
      <img src="/assets/image/ubicacion.jpg">
    </ion-card-header>
    <ion-card-content class="center-element">
      <ion-label>A prop meu</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
