<ion-header >
  <ion-toolbar color="primary" class="homeToolbar">
    <ion-icon slot="end" class="right-20" name="log-out-outline" size="large" (click)="logout()"></ion-icon>
    <ion-label class="left-20">
      {{ nomPacient }}
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="menuIonList">
    <ion-item detail="false" *ngFor="let item of menuItems | async" [routerLink]="item.redirectTo">
      <ion-icon [src]="item.image" slot="start"></ion-icon>
      <ion-label class="ion-label-wrap">
        {{ item.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-default-footer></app-default-footer>