<ion-header >
  <ion-toolbar color="primary" class="homeToolbar">
    <ion-avatar slot="start" >
      <img src="/assets/icon/avatar.svg">
    </ion-avatar>
    <ion-label class="left-20">
      Nom del pacient
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list class="menuIonList">
    <ion-item *ngFor="let item of menuItems | async" [routerLink]="item.redirectTo" detail>
      <ion-icon [src]="item.image" slot="start"></ion-icon>
      <ion-label>
        {{ item.name }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="principalFooter">
  <ion-label class="footerLogo">
    My Colon
  </ion-label>
  <ion-icon src="/assets/icon/colon.svg"></ion-icon>
</ion-footer>
