<ion-card mode="ios">
  <ion-card-header class="ion-card-header">
    <ion-card-title class="ion-card-title-form">De quin color era la teva última femta?</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-list>
      <ion-button class="right-20" slot="start" fill="outline" (click)="mostrarColorsFemta( $event )">
        <ion-label>seleccionar</ion-label>
      </ion-button>
      <ion-label slot="end">Seleccionat {{ colorSeleccionat }}</ion-label>
    </ion-list>
  </ion-card-content>
</ion-card>