<app-default-header icon="/assets/icon/apple.svg" titol="Nutrició"></app-default-header>

<ion-content padding>

  <ion-card mode="ios">
    <ion-card-header class="ion-card-header">
      <ion-card-title class="ion-card-title">
        Quina quantitat de cada apat he menjat avui?
      </ion-card-title>
    </ion-card-header>
  </ion-card>


  <app-range-bar nom="Esmorzar" min="0" max="100" (rangeValueChange)="guardarValorNutricio($event, 1)"></app-range-bar>
  <app-range-bar nom="Dinar" min="0" max="100" (rangeValueChange)="guardarValorNutricio($event, 2)"></app-range-bar>
  <app-range-bar nom="Berenar" min="0" max="100" (rangeValueChange)="guardarValorNutricio($event, 3)"></app-range-bar>
  <app-range-bar nom="Sopar" min="0" max="100" (rangeValueChange)="guardarValorNutricio($event, 4)"></app-range-bar>

  <ion-card mode="ios">
    <ion-card-header class="ion-card-header">
      <ion-card-title class="ion-card-title">Quants gots d'aigua has begut?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Gots</ion-label>
        <ion-input type="number" [(ngModel)]="gotsAigua" min="0" placeholder="Toca aquí"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <app-save-button (guardar)="enviarDades()"></app-save-button>
</ion-content>
