<app-default-header icon="/assets/icon/apple.svg" titol="Nutrició"></app-default-header>

<ion-content padding>

  <ion-card>
    <ion-card-header class="ion-card-header">
      <ion-card-title class="ion-card-title-form">
        Quina quantitat de cada apat he menjat avui?
      </ion-card-title>
    </ion-card-header>
  </ion-card>


  <app-range-bar nom="Esmorzar" min="0" max="100"></app-range-bar>
  <app-range-bar nom="Dinar" min="0" max="100"></app-range-bar>
  <app-range-bar nom="Berenar" min="0" max="100"></app-range-bar>
  <app-range-bar nom="Sopar" min="0" max="100"></app-range-bar>

  <ion-card>
    <ion-card-header class="ion-card-header">
      <ion-card-title class="ion-card-title-form">Quants gots d'aigua has begut?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Gots</ion-label>
        <ion-input type="number" min="0"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <app-save-button></app-save-button>
</ion-content>
