
<app-default-header icon="/assets/icon/eye.svg" titol="Registre símptomes"></app-default-header>

<ion-content padding >
  <ion-list class="menuIonList">
    <ion-item *ngFor="let item of menuItems | async" [routerLink]="item.redirectTo">
      <ion-icon [src]="item.image" slot="start" name="person-circle-outline"></ion-icon>
      <ion-label>
        {{ item.name }}
      </ion-label>
      <ion-icon slot="end" name="arrow-forward-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<app-default-footer></app-default-footer>
