<app-default-header titol="Medicacio" icon="/assets/icon/pills.svg"></app-default-header>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom" color="primary">
      
          <ion-tab-button tab="medicacio-mati">
            <ion-icon name="sunny"></ion-icon>
            <ion-label>Mati</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="medicacio-tarda">
            <ion-icon name="partly-sunny"></ion-icon>
            <ion-label>Tarda</ion-label>
          </ion-tab-button>
      
      
          <ion-tab-button tab="medicacio-nit">
            <ion-icon name="moon"></ion-icon>
            <ion-label>Nit</ion-label>
          </ion-tab-button>
      
      
        </ion-tab-bar>
    </ion-tabs>

</ion-content>
