<app-default-header titol="Medicació" icon="/assets/icon/pills.svg"></app-default-header>

<ion-content>


  <div class="bottom-15-percent">
    <ion-list *ngFor="let medicacio of medicacions; let i = index;">
      <ion-item>
        <ion-card mode="ios" class="width-100">
          <ion-card-header class="right-align">
            <ion-button color="transparent" size="small" (click)="alertEliminarMedicacio (i)">
              <ion-icon name="trash-outline" color="danger"></ion-icon>
            </ion-button>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-grid>
                <ion-row><ion-label class="bold bottom-10" color="primary" type="fixed">Nom </ion-label></ion-row>
                <ion-row><ion-label>{{ medicacio.nom }}</ion-label></ion-row>
              </ion-grid>  
            </ion-item>
            
            <ion-item class="top-20">
              <ion-grid>
                <ion-row><ion-label class="bold bottom-10" color="primary" type="fixed">Forma </ion-label></ion-row>
                <ion-row><ion-label>{{ medicacio.forma }}</ion-label></ion-row>
              </ion-grid>
            </ion-item>
            
            <ion-item class="top-20">
              <ion-grid>
                <ion-row><ion-label class="bold bottom-10" color="primary" type="fixed">Dosi </ion-label></ion-row>
                <ion-row><ion-label>{{ medicacio.dosi }}</ion-label></ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-content>
        </ion-card>
  
      </ion-item>
    </ion-list>  
  </div>


  <ion-segment class="segment" color="primary" mode="ios" (ionChange)="segmentChanged($event)">
    <ion-segment-button color="primary" value="mati">
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label>Mati</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tarda">
      <ion-icon name="partly-sunny-outline"></ion-icon>
      <ion-label>Tarda</ion-label>
    </ion-segment-button>
    <ion-segment-button value="nit">
      <ion-icon name="moon-outline"></ion-icon>
      <ion-label>Nit</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-fav-button (favButtonPressed)="alertGuardarMedicacio( )"></app-fav-button>

</ion-content>
