<app-default-header titol="Medicacio" icon="/assets/icon/pills.svg"></app-default-header>

<ion-content>
    <ion-card mode="ios" class="center-element">
        <ion-card-title>Mati</ion-card-title>
        <ion-card-content>
            <ion-button fill="outline">+ afegir medicacio</ion-button>
            <!--Mostrar els medicaments que s'ha de prendre l'usuari pel mati-->
            <ion-list>

            </ion-list>
        </ion-card-content>
    </ion-card>
    
    <ion-card mode="ios" class="center-element">
        <ion-card-title>Tarda</ion-card-title>
        <ion-card-content>
            <ion-button fill="outline">+ afegir medicacio</ion-button>
            <!--Mostrar els medicaments que s'ha de prendre l'usuari per la tarda-->
            <ion-list>

            </ion-list>
        </ion-card-content>
    </ion-card>
    
    <ion-card mode="ios" class="center-element">
        <ion-card-title>Nit</ion-card-title>
        <ion-card-content>
            <ion-button fill="outline">+ afegir medicació</ion-button>
            <!--Mostrar els medicaments que s'ha de prendre l'usuari per la nit-->
            <ion-list>

            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
