<app-default-header titol="Registre"></app-default-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-content class="center-element">
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Primer Cognom</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Segon Cognom</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correu Electrònic</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edat</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item class="bottom-20">
        <ion-label position="floating">Gènere</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-button size="medium" color="primary" class="top-20" (click)="registrarse()">REGISTRAR-SE</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
