<ion-card mode="ios">
  <ion-card-header class="ion-card-header">
    <ion-card-title class="ion-card-title-form">{{ pregunta }}</ion-card-title>
 </ion-card-header>
 <ion-card-content>
   <ion-grid>
     <ion-row>
       <ion-col size="6">
         <ion-item id="siButton" class="binaryCheckBoxMarked center-element" (click)="si()">
           <ion-label>SI</ion-label>
          
         </ion-item>
       </ion-col>
       <ion-col>
        <ion-item id="noButton" class="binaryCheckBox center-element" (click)="no()">
          <ion-label>NO</ion-label>
        </ion-item>
       </ion-col>
     </ion-row>
   </ion-grid>
 </ion-card-content>
</ion-card>
